:root {
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 240);
    --cardBG: rgb(225, 225, 225);
}

.home{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    .overlay{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgb(61, 137, 164);
        top: 0;
        bottom: 0;
        z-index: 1;
        mix-blend-mode: hard-light;
    }
    
    video{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        object-fit: cover;
    }
    
    .homeContent{
        width: 100%;
        height: max-content;
        padding: 8rem 1.5rem 3rem;
        display: flex;
        row-gap: 3rem;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        margin: auto;
        color: var(--whiteColor);
        z-index: 100;
    
        .textDiv{
            padding: 2rem 0;
        
            .smallText{
                font-size: 13px;
                text-transform: uppercase;
            }
        
            .homeTitle{
                position: relative;
                font-size: 3.8rem;
            }
            }
    
    
            .cardDiv{
                position: relative;
                padding: 2rem 1rem;
                background: var(--whiteColor);
                border-radius: 10px;
                gap: 1rem;
    
                label{
                    display: block;
                    color: var(--textColor);
                    padding-bottom: 10px;
                    font-size: 13px;
                    font-weight: 500;
                }
    
                .label_total{
                    justify-content: space-between;
                    align-items: center;
    
                    .total{
                        color: var(--textColor);
                        font-size: 18px;
                        transform: translateY(-.3rem);
                    }
                }

    
                .input{
                    height: 40px;
                    padding: 0 1rem;
                    background: var(--inputColor);
                    border-radius: 3rem;
    
                    input{
                        background: none;
                        border: none;
                        outline: none;
                        width: 100%;
                        font-size: 13px;
                        font-weight: 500;
                        &::placeholder{
                            font-size: 13px;
                        }
                    }
    
                    .icon{
                        font-size:  18px;
                        color: var(--PrimaryColor) !important;
                        margin-left: 10px;
                    }
    
                    .input[type=range]{
                        background: blue;
                    }
                }

                .arrow{
                    height: 20px;
                    padding: 0 1rem;
                    margin-bottom: 1rem;
                    width: 100%;
                    

                    .switch-button{
                        border: none;
                        padding: 0;
                        background: transparent;
                        color: #0074d9;
                        font-size: 1rem;
                        text-decoration: underline;
                        cursor: pointer;

                        &:focus {
                            outline: none;
                        }
                        .icon{
                            font-size:  27px;
                            color: var(--PrimaryColor) !important;
                        }
                    }
                    
                   
                }
    
                
                .searchButton{
                    position: absolute;
                        background: var(--gradientColor);
                        width: max-content;
                        bottom:  -0.7rem;
                        padding: 10px 1.5rem;
                        border-radius: 3rem;
                        left: 50%;
                        transform: translate(-50%);
                        justify-content: center;
                        cursor: pointer;
                        border: none;

                        &:hover{
                            background: var(--PrimaryColor);
                        }

                    .searchOptions{
                        column-gap: .7rem;
        
                        .icon{
                            color: white;
                            font-size: 13px;
                        }

                       
                        span{
                            font-size: 13px;
                            color: var(--whiteColor);
                            font-weight: 600;
                        }                                  
            }                
                }
                           
            }
    
            .homeFooterIcons{
                width: 100%;
                justify-content: space-between;
    
                .icon{
                    font-size: 20px;
                    margin: 0 5px;
                    color: var(--whiteColor);
                    font-weight: 600;
                    &:hover{
                        color: var(--PrimaryColor);
                    }
                }
            }
    }
}

// Media Queries
@media  screen and (max-width: 510px){
    .home{
        .homeContent{

            .textDiv{
            
                .smallText{
                    font-size: 12px;
                }
            
                .homeTitle{
                    font-size: 1.6rem !important;
                }

                }

            .cardDiv{

                .arrow{
                    margin-top: 1rem;
                }
            }
        }
    }
}

@media screen and (min-width: 500px) {
    .home{
        .homeContent{
            .textDiv{
                .smallText{
                    font-size: 16px;
                }

                .homeTitle{
                    position: relative;
                    font-size: 2.3rem;
                    width: max-content;

                    &::after{
                        position: absolute;
                        content: '';
                        background: var(--SecondaryColor);
                        height: 5px;
                        width: 145px;
                        right: 0px;
                        bottom: 5px;
                        z-index: -1;
                    }
                }
            }

            .cardDiv{
                grid-template-columns: repeat(2, 1fr);

                .arrow{
                    margin-top: 1rem;
                }

            }
        }
    }
    
}

@media screen and (min-width: 660px) {
    .home{
        .homeContent{

            .cardDiv{
                padding: 2rem 1rem;
                grid-template-columns: repeat(3, 1fr);

                .arrow{
                    margin-top: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 660px) {
    .textDiv{

            .homeTitle{
                font-size: 1.8rem !important;
            }
      
    }
}

@media screen and (min-width: 940px) {
    .home{

        // height: 80vh;

        .homeContent {
           .cardDiv{
            .arrow{
                margin-top: 1rem;
            }
            }
        }
    }
}

@media screen and (min-width: 1240px) {
    .home{
        // height: 95vh;

        .homeContent{
            padding-left: 0;
            padding-right: 0;

            .cardDiv{
                padding: 2rem 1rem;
                grid-template-columns: repeat(3, 1fr);
                .input{
                    margin-bottom: 1rem;
                }
                
                .arrow{
                    margin-top: 1rem;
                }

                .searchOptions{
                    bottom: -1rem;

                    span{
                        font-size: 17px;
                    }

                }
            }
        }
    }
}
    
    

